* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  color: #000;
}
body {
  background: #ffffff;
}
.btn {
  color: #fff;
  background-color: #0071bd;
}
.btn:hover {
  color: #fff !important;
  background-color: #1b1464;
}

.card {
  background: #bed4ff;
}

/* .card-body {
  background: #f5f5f5;
} */

.card p {
  color: #1b1464;
  font-size: 16px;
  font-weight: 700;
}
.faq .question {
  border-bottom: 2px solid grey;
}
/* .freq {
  background: #bed4ff;
} */

.freq h2, p {
  color: #181464;
  font-size: 16px;
  font-weight: 700;

}

.foot p {
  color: #181464
}
/* GLOBE ANIMATION */
@media (max-width: 426px) {
  .navbar .navbar-brand img{
    width: 50%;
  }

}

/* #1b1464 */ 
.mass {
  color: #1b1464 #0071bd #367ca5;

}